body,html{
    margin:0;
}
.searchPart{
    background-color: #f2f2f2;
    min-width: 100%;
    height: 40px;
    display: flex;
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.SearchName{
    display: flex;
    float: right;
    margin-left: 33px;
    margin-top: -7px;
}
.searchBar{
    float: right;
    margin-left: 7px;
}
button:focus {outline:0;}
.form-control{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: 380px;
    height: 30px;
    border: #8ad2ff;

}

.fas{
    margin-top: 11px;
    margin-left: -47px;
    color: #877c91;
    cursor: pointer;
}
#tiny_{
    color:dodgerblue;
    font-size: 18px;
}
#search_{
    color:coral;
    font-size: 18px;
}
.center{
    margin: 0px auto 20px;
    text-align: center;
}
.auto{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    text-align: center;
}
#setting-link{
    text-align: right;
    padding-right:20px;
}
.fieldset-auto-width {
    /*display: inline-block;*/
    width: 50%;
    margin: auto;
}

.choice-box{
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 5px;
    text-align: center;
}
.rs{
    margin-left: 25px;
}
input[type="radio"]{
    display: inline-block;
    text-align: left;
}
.btn{
    margin-top: 5px;
    margin-left: 37%;
    margin-right: 37%;
    width: 25%;
    border: none;
    border-radius: 17px;
    background-color: #c8e6ff;
    padding: 7px;
}
.btn2{
    margin-left: 25px;
    width: 10%;
    border: none;
    border-radius: 17px;
    background-color: #c8e6ff;
    padding: 7px;
}
.auto2{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: center;
}

#database{
    margin: 10px auto 0px;
    border-collapse: collapse;
    text-align: center;
}
#database th{
    background-color: #4CAF50;
    color: white;
}
#database td, #database th {
    border: 1px solid #ddd;
    padding: 8px;
}
#database tr:nth-child(even){background-color: #f2f2f2;}
#tiny{
    color:dodgerblue;
}
#search{
    color:coral;
}
#urlinput{
    display: none;
    margin-bottom: 5px;
}