.searchPart{
    margin-top: -7px;
    min-width: 100%;
    display: flex;
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.SearchName{
    display: flex;
    float: left;
    margin-left: 33px;
    margin-top: 5px;
}
.searchBar{
    float: left;
    margin-left: 7px;
}
.form-control{
    float: left;
    margin-left: 5px;
    width: 380px;
    border-radius: 18px;

}

.fas{
    margin-top: 10px;
    margin-left: -47px;
    color: #877c91;
    cursor: pointer;
}
.url{
    width: 25%;
    font-size: 10px;
    overflow: hidden;
}
#desc{
    width: 50%;
    font-size: small;
}
.form-text{
    font-size: 10px;
}
.btn{
    margin-left: 7px;
    background-color: #8ad2ff;
    border-radius: 7px;
}
#setting-link{
    text-align: right;
    padding-right:20px;
}
#tiny{
    color:dodgerblue;
    font-size: 18px;
}
#search{
    color:coral;
    font-size: 18px;
}
