.center{
    margin:20px auto;
    text-align: center;
}
main{
    width:80%;
    margin: auto;
}
.container{
    margin:10% auto;
}

#keywords{
    width:50%;
    display:inline;
}
.center-block{
    margin:auto;
}
.search-form{
    margin-top:30px;
}
#tiny{
    color:dodgerblue;
}
#search{
    color:coral;
}
#setting-link{
    text-align: right;
    margin-top: 17px;
    margin-right: 17px;
}
a{
    position: absolute;
    right: 20px;
    top: 5px;
}
i{
    font-size: 27px;
    color: gray;
}