.center{
    margin:20px auto;
    text-align: center;
}

.container{
    margin:10% auto;
}
#keywords{
    width:50%;
    display:inline;
}
.center-block{
    margin:auto;
}
.search-form{
    margin-top:30px;
}
#tiny{
    color:dodgerblue;
}
#search{
    color:coral;
}
.result{

}
